<%- include('includes/header.ejs')%>
<body>
	<div class="greeting-box">
		<h1 class="greeting-id">Hi! <%=id%></h1>
		<h2 class="greeting-text">You are logged in!</h2>
	</div>
	<script src="/script.js"></script>
</body>
